<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.njk" %}
</head>

<body class="page-home" x-data="{
    level1: '',
    level2: ''
}">
    {% include "partials/header.njk" %}
    <p class="center-p">El autoconsumo solar, es decir, instalar placas solares en tu tejado o cerca para generar tu
        propia energía
        renovable, es la solución definitiva frente a los altos precios de la energía y una de las mejores herramientas
        contra el cambio climático.</p>
    <div class="important-text">
        ¿Quieres dar el paso pero no sabes por dónde empezar?
    </div>
    <div class="decision-box">
        <div class="question">
            Descubre qué opción se adapta más a tus necesidades.
        </div>
        <div class="row-options">
            <div>
                <div class="option" x-bind:class="level1 === 'en-propriedad' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level1 ='en-propriedad'; level2=''; flyTo('en-propriedad');">tengo piso o casa en propiedad</a>
                </div>
            </div>
            <div>
                <div class="option" x-bind:class="level1 === 'de-alquiler' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level1 ='de-alquiler'; level2=''; flyTo('de-alquiler');">vivo de alquiler</a>
                </div>
            </div>
        </div>
    </div>

    {% include "pages/en-propriedad.njk" %}

    {% include "pages/de-alquiler.njk" %}

    {% include "pages/vivienda-unifamiliar.njk" %}

    {% include "pages/bloque-pisos.njk" %}

    {% include "pages/convence-casero.njk" %}

    {% include "pages/invierte-ahorros.njk" %}

    {% include "pages/autoconsumo-colectivo.njk" %}

    {% include "pages/presiona-ayuntamiento.njk" %}

</body>

</html>