<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.njk" %}
</head>

<body class="page-home">
    {% include "partials/header.njk" %}
    <p>El autoconsumo solar, es decir, instalar placas solares en tu tejado o cerca para generar tu propia energía
        renovable, es la solución definitiva frente a los altos precios de la energía y una de las mejores herramientas
        contra el cambio climático.</p>
    <div class="important-text">
        ¿Quieres dar el paso pero no sabes por dónde empezar?
    </div>
    <div class="decision-box">
        <div class="question">
            Descubre qué opción se adapta más a tus necesidades.
        </div>
        <div class="row-options">
            <div>
                <div class="option">
                    <a href="javascript:void(0)" onclick="flyTo('topmenu'); enter('#en-propriedad', 'fadeIn');">tengo
                        piso o casa en
                        propiedad</a>
                </div>
            </div>
            <div>
                <div class="option">
                    <a href="javascript:void(0)" onclick="flyTo('topmenu'); enter('#de-alquiler', 'fadeIn');">vivo de
                        alquiler</a>
                </div>
            </div>
        </div>
    </div>
    <div id="en-propriedad" hidden="hidden" class="animate__slow">
        <h1>Si tienes piso o casa en propiedad...</h1>
    </div>
    <div id="de-alquiler" hidden="hidden" class="animate__slow">
        <h1>Si vives de alquiler...</h1>
    </div>
</body>

</html>