    <div id="autoconsumo-colectivo" x-show="level1 === 'de-alquiler' && level2 === 'autoconsumo-colectivo'" x-bind:aria-hidden="not(level1 === 'de-alquiler' && level2 === 'autoconsumo-colectivo')" class="subpage" x-transition.duration.300ms>
        <div class="topsub2">
            <h1 style="grid-area: titlebp">Si tienes un edificio haciendo autoconsumo a menos de 2 km...</h1>
            <p style="grid-area: p1bp">Si tienes algún vecino/a, colegio o edificio público que hace autoconsumo a menos de 2 km puedes enchufarte a ellos.</p>
            <div style="grid-area: imagebp">
                <img src="assets/img/ilustracion-casa-conectada.svg" width="360" height="340" alt="Edificio con casa a 2 KM" />
            </div>
            <p style="grid-area: p2bp" class="bold-tablet">Se llama autoconsumo colectivo y puedes conocer más detalles sobre esta opción en nuestra guía.</p>
        </div>
        <div>
            <div class="download-button">
                <a  href="javascript:goTo('./descarga-tu-guia/')"  x-on:click="$dispatch('autoconsumo:buttons', { button: 'guia' });">descarga tu guía</a>
            </div>
        </div>
        <div style="text-align: center;">
            <div class="optionback">
                <a href="javascript:void(0)" x-on:click="level2=''; flyTo('de-alquiler');">atrás</a>
            </div>
        </div>
    </div>