    <div id="bloque-pisos" style="display:none;" x-show="level1 === 'en-propriedad' && level2 === 'bloque-pisos'" x-bind:aria-hidden="not(level1 === 'en-propriedad' && level2 === 'bloque-pisos')" class="subpage" x-transition.duration.300ms>
        <div class="topsub2">
            <h1 style="grid-area: titlebp">Si vives en un bloque de pisos...</h1>
            <p style="grid-area: p1bp">El autoconsumo de energía solar también es posible si tienes un piso en un bloque de vecinos/as. Solo se necesita un tejado o espacio próximo lo suficientemente grande para poder realizar la instalación.</p>
            <div style="grid-area: imagebp">
                <img src="{{ site.assets }}/img/ilustracion-bloques-vecinos-placas.svg" width="362" height="344" alt="Ilustración de una vivienda con cuatro paneles solares." />
            </div>
            <p style="grid-area: p2bp">Existen varias opciones: cubrir consumos de zonas comunes (ascensor, iluminación, garaje, piscina, etc.), cubrir tu consumo particular y el de las viviendas que quieran participar o cubrir ambas.</p>
            <p style="grid-area: p3bp">Para ponerlo en marcha solo hay que contar con el voto a favor de 1/3 de tus vecinos si es para uso particular (excepto si dispones de azotea propia) o tener mayoría simple si es para usos comunes.</p>
        </div>
        <div class="download-box">
            <p>Descubre más información en nuestra <a href="javascript:goTo('./descarga-tu-guia/')" x-on:click="$dispatch('autoconsumo:buttons', { button: 'guia' });">guía de autoconsumo solar</a> y utiliza nuestra calculadora para saber cuánto podrías ahorrarte en la factura de la luz si te pasas al autoconsumo solar.</p>
            <div class="download-button">
                <a  href="javascript:goTo('./calculadora-de-ahorro/')" x-on:click="$dispatch('autoconsumo:buttons', { button: 'calculadora' });">calculadora solar</a>
            </div>
            <div class="optionback">
                <a href="javascript:void(0)" x-on:click="level2=''; flyTo('en-propriedad');">atrás</a>
            </div>
        </div>
        <div class="outsideback">
            <div class="optionback">
                <a href="javascript:void(0)" x-on:click="level2=''; flyTo('en-propriedad');">atrás</a>
            </div>
        </div>
    </div>