    <div id="convence-casero" x-show="level1 === 'de-alquiler' && level2 === 'convence-casero'" class="subpage">
        <div class="topsub2">
            <h1 style="grid-area: titlebp">Convence a tu casero/a</h1>
            <p style="grid-area: p1bp">Siempre puedes intentar convencer a tu casero/a para que instale placas y revalorice el piso energéticamente (la calificación energética cada vez será de mayor valor y obligación). Además, podrá vender o alquilar más fácil y rápido ya que la casa “prácticamente no paga luz”.</p>
            <div style="grid-area: imagebp">
                <img src="assets/img/ilustracion-mujeres-hablando-autoconosumo.svg" alt="Ilustración de mujeres hablando del autoconsumo" />
            </div>
            <p style="grid-area: p2bp">Además, con las bonificaciones locales actuales en el IBI (Impuesto de Bienes Inmuebles) y otras desgravaciones fiscales y ayudas puede que le salga sorprendentemente barato y lo vea como una inversión para su bolsillo y el planeta.</p>
        </div>
        <div>
            <div class="download-button">
                <a  href="javascript:void(0)">descarga tu guía</a>
            </div>
        </div>
        <div style="text-align: center;">
            <div class="optionback">
                <a href="javascript:void(0)" x-on:click="level2=''; flyTo('de-alquiler')">atrás</a>
            </div>
        </div>
    </div>