    <div id="de-alquiler" x-show="level1 === 'de-alquiler'" x-bind:aria-hidden="not(level1 === 'de-alquiler')" class="subpage" x-transition.duration.300ms>
        <div class="topsub">
            <h1 style="grid-area: titlet">Si vives de alquiler...</h1>
            <p style="grid-area: textt">Aunque no tengas un tejado en propiedad, el autoconsumo de energía renovable también es posible. No es necesario tener mucho dinero ni grandes conocimientos para librarse de la dictadura de las grandes energéticas y bajar tu factura de la luz.</p>
            <img style="grid-area: imaget" src="assets/img/ilustracion-ciudad-placas-solares.svg" alt="Ilustración de una ciudad con renovables" />
        </div>
        <div class="bottomsub4 decision-box">
            <div style="grid-area: titleb" class="question">
                Elige tu opción y descubre el siguiente paso.
            </div>
            <div style="grid-area: optionab">
                <div class="option" x-bind:class="level2 === 'convence-casero' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level2='convence-casero'; flyTo('convence-casero');">convence a tu casero/a</a>
                </div>
            </div>
            <div style="grid-area: optionbb">
                <div class="option" x-bind:class="level2 === 'invierte-ahorros' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level2='invierte-ahorros'; flyTo('invierte-ahorros');">invierte tus ahorros</a>
                </div>
            </div>
            <div style="grid-area: optionac">
                <div class="option" x-bind:class="level2 === 'autoconsumo-colectivo' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level2='autoconsumo-colectivo'; flyTo('autoconsumo-colectivo');">autoconsumo colectivo</a>
                </div>
            </div>
            <div style="grid-area: optionad">
                <div class="option" x-bind:class="level2 === 'presiona-ayuntamiento' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level2='presiona-ayuntamiento'; flyTo('presiona-ayuntamiento');">presiona a tu ayuntamiento</a>
                </div>
            </div>
            <div style="grid-area: backb">
                <div class="optionback">
                    <a href="javascript:void(0)" x-on:click="level1 = ''; flyTo('topmenu');">atrás</a>
                </div>
            </div>
        </div>
    </div>