    <div id="en-propriedad" x-show="level1 === 'en-propriedad'" x-bind:aria-hidden="not(level1 === 'en-propriedad')" class="subpage" x-transition.duration.300ms>
        <div class="topsub">
            <h1 style="grid-area: titlet">Si tienes piso o casa en propiedad...</h1>
            <p style="grid-area: textt">Si tienes una vivienda en propiedad pasarte al autoconsumo de energía solar es muy sencillo, porque solo necesitarás un tejado (o ubicación próxima) en el que poder instalar las placas. El cómo hacerlo varía en función de si vives en una vivienda unifamiliar o en un bloque de pisos.</p>
            <img style="grid-area: imaget" src="assets/img/ilustracion-tejado-placas.svg" width="360" height="341" alt="Ilustración de placas sobre un tejado al sol" />
        </div>
        <div class="bottomsub decision-box">
            <div style="grid-area: titleb" class="question">
                Elige tu opción y descubre el siguiente paso.
            </div>
            <div style="grid-area: optionab">
                <div class="option" x-bind:class="level2 === 'vivienda-unifamilar' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level2 = 'vivienda-unifamilar'; flyTo('vivienda-unifamilar'); $dispatch('autoconsumo:buttons', { button: 'vivienda-unifamilar' });">vivienda unifamiliar</a>
                </div>
            </div>
            <div style="grid-area: optionbb">
                <div class="option" x-bind:class="level2 === 'bloque-pisos' ? 'active' : ''">
                    <a href="javascript:void(0)" x-on:click="level2 = 'bloque-pisos'; flyTo('bloque-pisos'); $dispatch('autoconsumo:buttons', { button: 'bloque-pisos' });">bloque de pisos</a>
                </div>
            </div>
            <div style="grid-area: backb">
                <div class="optionback">
                    <a href="javascript:void(0)" x-on:click="level1 = ''; flyTo('topmenu');">atrás</a>
                </div>
            </div>
        </div>
    </div>