    <div id="en-propriedad" hidden="hidden" class="subpage animate__slow">
        <div>
            <h1 style="grid-area: title">Si tienes piso o casa en propiedad...</h1>
            <p style="grid-area: text">Si tienes una vivienda en propiedad pasarte al autoconsumo de energía solar es muy sencillo, porque solo necesitarás un tejado (o ubicación próxima) en el que poder instalar las placas. El cómo hacerlo varía en función de si vives en una vivienda unifamiliar o en un bloque de pisos.</p>
            <img style="grid-area: image" src="assets/img/ilustracion-tejado-placas.svg" alt="Ilustración de placas sobre un tejado al sol" />
        </div>
    </div>