    <div id="invierte-ahorros" hidden="hidden" class="subpage">
        <div class="topsub2">
            <h1 style="grid-area: titlebp">Si tienes ahorros, desde 50 euros puedes...</h1>
            <p style="grid-area: p1bp">Desde 50 euros ya puedes invertir y convertirte en copropietaria de instalaciones renovables en otro lugar para reducir directamente tu factura o recibir un retorno económico. También puedes prestar tus ahorros a plataformas de inversión social para que otras personas instalen renovables y luego recuperarlos con algo de interés.</p>
            <div style="grid-area: imagebp">
                <img src="assets/img/ilustracion-invertir-ahorros-solar.svg" alt="Ilustración ciclo de la inversión" />
            </div>
            <p style="grid-area: p2bp" class="bold-tablet">Si quieres conocer más detalles sobre esta opción así como algunas cooperativas a las que ya puedes sumarte, descárgate nuestra guía de autoconsumo solar.</p>
        </div>
        <div>
            <div class="download-button">
                <a  href="javascript:void(0)">descarga tu guía</a>
            </div>
        </div>
        <div style="text-align: center;">
            <div class="optionback">
                <a href="javascript:void(0)" onclick="flyTo('topmenu'); leave('#invierte-ahorros', 'fadeOut', false);">atrás</a>
            </div>
        </div>
    </div>