    <div id="presiona-ayuntamiento" x-show="level1 === 'de-alquiler' && level2 === 'presiona-ayuntamiento'" class="subpage" x-transition.duration.300ms>
        <div class="topsub2">
            <h1 style="grid-area: titlebp">Pide a tu ayuntamiento que instale renovables para cubrir el 100% de la demanda energética del vecindario</h1>
            <p style="grid-area: p1bp">Presiona a tu ayuntamiento para que instale renovables que cubran la demanda de edificios públicos y de todo el vecindario. Pueden empezar con un autoconsumo colectivo desde sus tejados o ir mucho más allá, instalando renovables en su término municipal o creando una comunidad energética, donde ofrecer otros servicios a la ciudadanía (movilidad sostenible, eficiencia y rehabilitación energética, etc).</p>
            <div style="grid-area: imagebp">
                <img src="assets/img/ilustracion-ayuntamient-conectado-casa.svg" alt="Ilustracion ayuntamiento, energías renovables y red" />
            </div>
            <p style="grid-area: p2bp">Conoce más detalles sobre esta opción en nuestra guía de autoconsumo solar.</p>
        </div>
        <div>
            <div class="download-button">
                <a  href="javascript:void(0)">descarga tu guía</a>
            </div>
        </div>
        <div style="text-align: center;">
            <div class="optionback">
                <a href="javascript:void(0)" x-on:click="level2='';">atrás</a>
            </div>
        </div>
    </div>