    <div id="vivienda-unifamilar" x-show="level1 === 'en-propriedad' && level2 === 'vivienda-unifamilar'" x-bind:aria-hidden="not(level1 === 'en-propriedad' && level2 === 'vivienda-unifamilar')" class="subpage" x-transition.duration.300ms>
        <div class="topsub">
            <h1 style="grid-area: titlet">Si tienes una vivienda unifamiliar...</h1>
            <div style="grid-area: textt">
                <p>Si tienes una casa aislada, tipo chalet, solo tienes que contactar con una empresa especializada y con experiencia contrastada. Te asesorarán y gestionarán todo el papeleo, incluidas las ayudas y subvenciones que existan. Recuerda pedir varios presupuestos y comparar.</p>
                <p>Además, puedes unirte con vecinos y vecinas de tu zona para organizar lo que se conoce como compras colectivas: hacer un pedido de placas fotovoltaicas entre varias personas para conseguir mejores precios. O también podéis compartir una misma instalación, lo que se conoce como autoconsumo colectivo.</p>
            </div>
            <img style="grid-area: imaget" src="assets/img/ilustracion-casa-unifamiliar-placas.svg" width="360" height="346" alt="Ilustración de una vivienda con cuatro paneles solares." />
        </div>
        <div class="download-box">
            <p>Descubre más información en nuestra <a href="javascript:void(0)">guía de autoconsumo solar</a> y utiliza nuestra calculadora para saber cuánto podrías ahorrarte en la factura de la luz si te pasas al autoconsumo solar.</p>
            <div class="download-button">
                <a href="javascript:void(0)">calculadora solar</a>
            </div>
            <div class="optionback">
                <a href="javascript:void(0)" x-on:click="level2=''; flyTo('en-propriedad');">atrás</a>
            </div>
        </div>
        <div class="outsideback">
            <div class="optionback">
                <a href="javascript:void(0)" x-on:click="level2=''; flyTo('en-propriedad');">atrás</a>
            </div>
        </div>
    </div>