    <div id="vivienda-unifamilar" hidden="hidden" class="subpage">
        <div class="topsub">
            <h1 style="grid-area: titlet">Si tienes una vivienda unifamiliar...</h1>
            <div style="grid-area: textt">
                <p>Si tienes una casa aislada, tipo chalet, solo tienes que contactar con una empresa especializada y con experiencia contrastada. Te asesorarán y gestionarán todo el papeleo, incluidas las ayudas y subvenciones que existan. Recuerda pedir varios presupuestos y comparar.</p>
                <p>Además, puedes unirte con vecinos y vecinas de tu zona para organizar lo que se conoce como compras colectivas: hacer un pedido de placas fotovoltaicas entre varias personas para conseguir mejores precios. O también podéis compartir una misma instalación, lo que se conoce como autoconsumo colectivo.</p>
            </div>
            <img style="grid-area: imaget" src="assets/img/ilustracion-casa-unifamiliar-placas.svg" alt="Ilustración de una vivienda con cuatro paneles solares." />
        </div>
        <div class="bottomsub4">
            <div style="grid-area: backb">
                <div class="optionback">
                    <a href="javascript:void(0)" onclick="flyTo('topmenu'); leave('#vivienda-unifamilar', 'fadeOut', false);">atrás</a>
                </div>
            </div>
        </div>
    </div>