.download-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'title-guide'
        'text'
        'main-image'
        'cover'
        'form-container'
}

.title-guide {
    grid-area: title-guide;
}

.text {
    grid-area: text;
}

.main-image {
    grid-area: main-image;
    background-color: var(--background-gray);
}

.cover {
    grid-area: cover;
    background-color: var(--background-gray);
}

.form-container {
    background-color: var(--background-yellow);
    grid-area: form-container;
}

@media screen and (min-width: 813px) {
    .download-grid {
        max-width: 960px;
        margin: auto;
        margin-top: 30px;
        column-gap: 27px;
        grid-template-areas:
            'title-guide form-container'
            'main-image form-container'
            'text form-container'
            'cover form-container'
    }

    .title-guide, .main-image {
        text-align: center;
        background-color: #fff;
    }
    .cover {
        background-color: #fff;
    }
}