    <!-- Statistics I -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7NL9SM5MNP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('consent', 'default', {
            'ad_storage': 'denied',
            'analytics_storage': 'denied'
        });
        gtag('js', new Date());

        window.googleTrackingConfig = {
            'custom_map': {
                'dimension1': 'ExistingOrNew',
                'dimension2': 'CookiePrivacyVariant'
            }
        };
        const enableGoogleOptimize = false;
    </script>
    <!-- / Statistics I -->

