    <footer>
        <div class="footer-logo">
            <a href="{{ home_url }}">
                <img src="{{ site.assets }}/img/greenpeace-logo-blanco.svg" style="height: 22px;" width="158" height="25" alt="Greenpeace" loading="lazy" />
            </a>
        </div>
        <nav>
            <ul class="footer-links">
                <li><a href="https://es.greenpeace.org/">© Greenpeace 2023</a></li>
                <li><a href="https://es.greenpeace.org/es/politica-de-privacidad-y-cookies/"><span>Política de privacidad y cookies</span></a></li>
                <li><a href="https://es.greenpeace.org/es/quienes-somos/contacto/" ><span>Contacto</span></a></li>                
            </ul>
        </nav>
    </footer>