    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guía de autoconsumo solar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap" onload="this.rel='stylesheet'" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="preload" as="style" href="../assets/css/global.css" onload="this.rel='stylesheet'" />
    <link rel="preload" as="style" href="../assets/css/guide.css" onload="this.rel='stylesheet'" />
    <script src="../assets/js/scripts.js" defer></script>
    <script src="../assets/js/form.js" defer></script>
    <script src="../assets/js/alpine.min.js" defer></script>
    <script src="../src/Calculadora.js" defer></script>
    <meta name="description" content="Cómo puedo hacer autoconsumo solar" />