    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guía de autoconsumo solar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap" onload="this.rel='stylesheet'" >
    <link rel="preload" as="style" href="{{ site.assets }}/css/global.css" onload="this.rel='stylesheet'" />
    <link rel="preload" as="style" href="{{ site.assets }}/css/guide.css" onload="this.rel='stylesheet'" />
    {% include "partials/analytics-head.njk" %}
    <script src="{{ site.assets }}/js/analytics.js" defer></script>
    <script src="{{ site.assets }}/js/cookieTrackingManager.js" defer></script>
    <script src="{{ site.assets }}/js/scripts.js" defer></script>
    <script src="{{ site.assets }}/js/form.js" defer></script>
    <script src="{{ site.assets }}/js/send-simple.js" defer></script>
    <script src="{{ site.assets }}/js/alpine.min.js" defer></script>
    <meta name="description" content="Cómo puedo hacer autoconsumo solar" />

    <style>
        {% include "descarga.min.css" %}
    </style>