    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descarga tu guía de autoconsumo</title>
    <style>
        {% include "descarga.min.css" %}
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap" onload="this.rel='stylesheet'" >
    <link rel="preload" as="style" href="{{ site.assets }}/css/global.css" onload="this.rel='stylesheet'" />
    <link rel="preload" as="style" href="{{ site.assets }}/css/guide.css" onload="this.rel='stylesheet'" />
    {% include "partials/analytics-head.njk" %}
    <script src="{{ site.assets }}/js/analytics.js" defer></script>
    <script src="{{ site.assets }}/js/cookieTrackingManager.js" defer></script>
    <script src="{{ site.assets }}/js/scripts.js" defer></script>
    <script src="{{ site.assets }}/js/form.js" defer></script>
    <script src="{{ site.assets }}/js/send-simple.js" defer></script>
    <script src="{{ site.assets }}/js/alpine.min.js" defer></script>
    <meta name="description" content="Cómo puedo hacer autoconsumo solar" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Descarga tu guía de autoconsumo solar" />
    <meta property="og:url" content="{{ site.domain }}/descarga-tu-guia/" />
    <meta property="og:description" content="Ni rica, ni experta y sin tejado. Autoproducir tu propia energía ya es para todos. ¡Descúbrelo en nuestra guía de autoconsumo solar!" />
    <meta property="og:site_name" content="Autoconsumo solar" />
    <meta property="og:image" content="https://es.greenpeace.org/es/wp-content/uploads/sites/3/2023/10/03guia-de-autoconsumo.jpg" />

    <link rel="canonical" href="https://es.greenpeace.org/es/guia-autoconsumo-solar/" />
    
