    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guía de autoconsumo solar</title>
    <style>
        {% include "calculadora.min.css" %}
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap" onload="this.rel='stylesheet'" >
    <link rel="preload" as="style" href="{{ site.assets }}/css/global.css" onload="this.rel='stylesheet'" />
    <link rel="preload" as="style" href="{{ site.assets }}/css/calculator.css" onload="this.rel='stylesheet'" />
    {% include "partials/analytics-head.njk" %}
    <script src="{{ site.assets }}/js/analytics.js" defer></script>
    <script src="{{ site.assets }}/js/cookieTrackingManager.js" defer></script>
    <script src="{{ site.src }}/Calculadora.js" defer></script>
    <script src="{{ site.assets }}/js/scripts.js" defer></script>
    <script src="{{ site.assets }}/js/calculator.js" defer></script>
    <script src="{{ site.assets }}/js/form.js" defer></script>
    <script src="{{ site.assets }}/js/send-complete.js" defer></script>
    <script src="{{ site.assets }}/js/alpine.min.js" defer></script>
    <meta name="description" content="Cómo puedo hacer autoconsumo solar" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Calculadora de ahorro solar" />
    <meta property="og:url" content="{{ site.domain }}/calculadora-de-ahorro/" />
    <meta property="og:description" content="¿Quieres saber cuánto podrías ahorrarte en la factura de la luz si instalas placas solares? ¿Y cuánto podrías reducir tus emisiones? ¡Entra en nuestra calculadora de ahorro solar!" />
    <meta property="og:site_name" content="Autoconsumo solar" />
    <meta property="og:image" content="" />

    <link rel="canonical" href="{{ site.domain }}/calculadora-de-ahorro/" />
    