    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guía de autoconsumo solar</title>
    <link rel="preload" as="style" href="assets/css/style.css" onload="this.rel='stylesheet'" />
    <script src="src/Calculadora.js" defer></script>