    <menu id="topmenu">
        <div class="title">Guía de autoconsumo solar</div>
        <div class="logo">
            <a href="https://es.greenpeace.org/es/"><img src="{{ site.assets }}//img/greenpeace.svg" alt="Greenpeace" width="184" height="29" /></a>
        </div>
        <div class="hamburger"><a href="javascript:void(0);" onclick="enter('#sidemenu', 'slideInLeft');"><img src="{{ site.assets }}/img/hamburger.svg" width="37" height="26" alt="Hamburger" /></a></div>
        <div class="autoconsumo"><a href="../">¿Cómo hacer autoconsumo solar?</a></div>
        <div class="calculadora"><a href="./">Calculadora de ahorro</a></div>
        <div class="descarga"><a href="../descarga-tu-guia/">Descarga tu guía</a></div>
    </menu>
    <menu id="sidemenu" hidden="hidden" class="animate__faster">
        
        <div id="insidemenu">
            <div class="topinside">
                <div class="title2">Guía de autoconsumo solar</div>
                <div class="logo2"><img src="{{ site.assets }}/img/greenpeace.svg" alt="Greenpeace" width="184" height="29" /></div>
                <div class="menulinks">
                    <div><a href="../">¿Cómo hacer autoconsumo solar?</a></div>
                    <div><a href="">Calculadora de ahorro</a></div>
                    <div><a href="../descarga-tu-guia/">Descarga tu guía</a></div>
                </div>
            </div>

            <div class="close2">
                <a href="javascript:void(0);" onclick="leave('#sidemenu', 'slideOutLeft');">
                    <img src="{{ site.assets }}/img/close.svg" alt="Cerrar" width="26" height="26" />
                </a>
            </div>

        </div>
    </menu>