    <menu>
        <div class="title">Guía de autoconsumo solar</div>
        <div class="logo"><img src="assets/img/greenpeace.svg" alt="Greenpeace" width="184" height="29" /></div>
        <div class="hamburger"><img src="assets/img/hamburger.svg" alt="Hamburger" /></div>
        <div class="autoconsumo"><a href="">¿Cómo hacer autoconsumo solar?<a></div>
        <div class="calculadora"><a href="">Calculadora de ahorro<a></div>
        <div class="descarga"><a href="">Descarga tu guía<a></div>
    </menu>