.question {
    border: solid 1px #ccc;
    margin: 10px;
}



p {
    font-size: 1.125rem;
}



h2 {
    font-size: 1.23rem;
    color: var(--text-color2);
}

label {
    display: block;
    margin-bottom: 4px;
    margin-left: 4px;
}

.privacynotice {
    margin-top: 1.3rem;
}

input[type=checkbox] {
    margin-left: -3px;
}

label[for=privacy]{
    margin: 1rem 0 0.8rem 0;
}

@media screen and (min-width: 813px) {

}

/* Form */

#signup {
    max-width: 100%;
}

.error-message {
    color: var(--text-error);
    margin-left: 0.2rem;
}

input {
    border: 1px solid #495057;
    background-color: var(--background-yellow);
    padding: .5rem 1rem;
    font-family: var(--font-family);
    font-size: 1rem;
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=tel] {
    box-sizing: border-box;
    width: 100%;
}  

.form-group {
    margin-bottom: 10px;
}

.privacynotice {
    font-size: 0.94rem;
}
.privacycontainer {
    margin-bottom: 1rem;
}

.colored-button {
    background-color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color3);
    font-family: var(--font-family);
    font-size: 1.1rem;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

a.colored-button {
    text-decoration: none;
}

.colored-button.yes {
    background-color: var(--text-color2);
}
