.question {
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
}

.question label {
    font-weight: bold;
    font-size: 0.875rem;
}

.actual_value {
    color: var(--footnote-color);
    text-align: center;
}

h1 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 27px;
}

p {
    font-size: 1.125rem;
    margin: 27px;
}

h2 {
    font-size: 1.23rem;
    color: var(--text-color2);
}

label {
    display: block;
    margin-bottom: 4px;
    margin-left: 4px;
}

.privacynotice {
    margin-top: 1.3rem;
}

input[type=checkbox] {
    margin-left: -3px;
}

label[for=privacy]{
    margin: 1rem 0 0.8rem 0;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

/* Form */

#signup {
    max-width: 100%;
    background-color: var(--background-gray);
    padding-top: 22px;
}

fieldset {
    border: none;
}

fieldset label, fieldset input {
    display: inline;
}

#signup h2 {
    margin: 3px 11px;
}

.error-message {
    color: var(--text-error);
    margin-left: 0.2rem;
}

input[type=text], input[type=email], input[type=tel] {
    border: 1px solid #495057;
    background-color: var(--background-yellow);
    padding: .5rem 1rem;
    font-family: var(--font-family);
    font-size: 1rem;
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=tel] {
    box-sizing: border-box;
    width: 100%;
}  

.form-group {
    margin-bottom: 10px;
}

.privacynotice {
    font-size: 0.94rem;
}
.privacycontainer {
    margin-bottom: 1rem;
}

.colored-button {
    background-color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color3);
    font-family: var(--font-family);
    font-size: 1.1rem;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

a.colored-button {
    text-decoration: none;
}


select {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(144, 144, 144, 1);
    padding: 7px;
}

/* INPUT RANGE */

input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: var(--text-color2);
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #5C5C5C;
    border: 1px solid #E6E6E6;
    height: 26px;
    width: 26px;
    border-radius: 26px;
    background: #F2F2F2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--text-color2);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: var(--text-color2);
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #5C5C5C;
    border: 1px solid #E6E6E6;
    height: 26px;
    width: 26px;
    border-radius: 26px;
    background: #F2F2F2;
    cursor: pointer;
  }
 

  .house {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'consumo_anual'
        'porcentaje_consumo'
        'provincia'
        'orientacion_tejado';
    gap: 2px;
  }

  .personal_data {
    background-color: var(--background-yellow);
    padding: 27px;
    margin-top: 13px;
  }

  .personal_data h2 {
    color: var(--text-color);
  }

  .results {
    background-color: var(--background-gray);
  }

.result_box_large {
    padding-top: 10px;
    border-radius: 30px;
    background-color: var(--background-top-menu);
    height: 119px;
  }

.result_box_large .strong_result {
    font-weight: bold;
    color: var(--text-color2);
    font-size: 3rem;
}

.result_box_large>* {
    text-align: center;
}

.result_box_large .footnote {
    color: var(--footnote-color);
    font-weight: bold;
    font-size: 0.875rem;
}

.results4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    max-width: 340px;
  } 

.result_box_small {
    background-color: var(--background-yellow);
    border-radius: 30px;
    padding: 27px;
    width: 100px;
    font-size: 0.75rem;
  }

.result_box_small>* {
    text-align: center;
}

.result_box_small .strong_result {
    font-weight: bold;
    font-size: 2.25rem;
  }


  @media screen and (min-width: 813px) {
    .house {
        grid-template-columns: auto auto;
        grid-template-areas:
            'consumo_anual orientacion_tejado'
            'porcentaje_consumo orientacion_tejado'
            'provincia orientacion_tejado';
        gap: 2px;
    }
  }