:root {
    --text-color: #000;
    --font-family: 'Source Sans 3', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

header {
    background-image: url(../img/energia-solar-en-tejados.jpg);
}

header h1 {
    color: rgba(255, 255, 255, 1);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    font-size: 3rem;
    line-height: 3.4rem;
    margin: 4vw;
}


menu {
    padding: 0;
    margin: 0;
}

#topmenu {
    background-color: #fff;
}

.logo {
    width: 122px;
}

.logo img {
    max-width: 100%;
}

.hamburger,
.hamburger img {
    width: 40px;
    height: 26px;
}

#topmenu .autoconsumo, #topmenu .calculadora, #topmenu .descarga {
    display: none;
}
