:root {
    --text-color: #000;
    --font-family: 'Source Sans 3', sans-serif;
}

body {
    font-family: var(--font-family);
}

header {
    background-image: url(../img/energia-solar-en-tejados.jpg);
}

header h1 {
    color: rgba(255, 255, 255, 1);
}


menu {
    padding-left: 0;
}